@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import "desktop.css" only screen and (min-width: 769px);
@import "mobile.css" only screen and (max-width: 768px);

/* Colours */
:root {
  --black: #0C0C0C;
  --blue: #0037DA;
  --cyan: #3A96DD;
  --green: #13A10E;
  --purple: #881798;
  --red: #C50F1F;
  --white: #CCCCCC;
  --yellow: #C19C00;

  --brightBlack: #767676;
  --brightBlue: #3B78FF;
  --brightCyan: #61D6D6;
  --brightGreen: #16C60C;
  --brightPurple: #B4009E;
  --brightRed: #E74856;
  --brightWhite: #F2F2F2;
  --brightYellow: #F9F1A5;
}

.black { color: var(--black); }
.blue { color: var(--blue); }
.cyan { color: var(--cyan); }
.green { color: var(--green); }
.purple { color: var(--purple); }
.red { color: var(--red); }
.white { color: var(--white); }
.yellow { color: var(--yellow); }
.brightBlack { color: var(--brightBlack); }
.brightBlue { color: var(--brightBlue); }
.brightCyan { color: var(--brightCyan); }
.brightGreen { color: var(--brightGreen); }
.brightPurple { color: var(--brightPurple); }
.brightRed { color: var(--brightRed); }
.brightWhite { color: var(--brightWhite); }
.brightYellow { color: var(--brightYellow); }

/* Global */
::selection {
  background-color: var(--brightWhite);
  color: var(--black);
}

/* Text Colors */
#yactwtitle { color: var(--brightCyan); }
.title { color: var(--green); text-decoration: underline wavy; }
.comment { color: var(--brightBlack); font-style: italic; }
.file { color: var(--brightWhite); }
.directory { color: var(--brightBlue); }
.user { color: var(--brightGreen); }
.path { color: var(--brightBlue); }
.infolabel { color: var(--brightRed); }
.info { color: var(--brightWhite); }
.error { color: var(--red); }
.repoLink { color: var(--brightCyan); text-decoration: underline wavy; }
.cmdline { white-space: pre-wrap; }
